* {
    margin: 0;
    padding: 0;
}

.page-container {
    margin: 40px; 
}

.headers {
    padding: 20px; 
    font-size: 1.75rem;
    text-decoration: underline;
    text-align: center;
}

.text {
    padding: 40px;
    text-align: center;
}

.featured {
    float: right;
    padding: -50px;
}

.item-features {
    text-align: center;
    padding: 40px;
}
.float-right {
    padding: 40px;
    padding-top: 0px;
    text-align: center;
    float: right; 
}
}
iframe {
    width: 100%;
}

#title-top {
    text-align: center;
    padding: 20px;
    color: teal;
}

.button {
    text-align: center; 
}
.footer-left {
    text-align: left;
    margin: 40px;
    display: inline-block; 
}
.footer-right {
    float: right; 
    margin: 40px;
    display: inline-block; 
}


